.campaign-donation-receipt {

	.charitable-header {
		color: #c32528;
		font-size: 32px;
		font-family: Oswald;
	}
	
	.main-content {

		h1.entry-title {
			display: block !important;
			margin-top: 20px;
			color: #c32528;
			font-size: 32px;
			font-family: Oswald;
		}

		.entry-content {

			p:first {

			}
		}
	}
}