/* 
=============================
	PAGE: COMPLETED PROJECTS
=============================
*/

.completed-projects {

	#hope-campaigns-filter-and-items-row,
	#hope-projects-filter-and-items-row {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
}